@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: normal;
    src: url(../assets/font/Dosis-Regular.otf) format('opentype');
}


@layer base {
    p {
        @apply text-3xl text-white font-dosis;
    }

    button {
        @apply w-72 py-6 text-xl text-blue font-dosis font-bold bg-white rounded-lg cursor-pointer;
    }

    .center {
        @apply flex items-center flex-col;
    }

    .board {
        @apply max-w-[50vw] max-h-[70dvh] aspect-square grid outline-2 outline-blue outline cursor-pointer;
        grid-template-columns: repeat(15, minmax(0, 1fr));
        
        div {
            @apply w-wfa aspect-square outline-1 outline-blue outline;
        }
    }
}
